:root{
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    min-width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #1F2937;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wrap-score {
    display: flex;
    gap: 10px;
}

#cookie {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: burlywood;
    color: black;
}

.upgrades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h2{
    margin: 0;
}

h2{
    font-size: 20px;
}

h1{
    transition: transform 0.16s, background-color 0.5s;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    transition: scale 0.16s, transform 0.16s, background-color 0.5s;
    font-size: 16px;
    border: none;
}

button:hover{
    scale: 1.05;
}

button:active{
    scale: 1;
}

.upgrades .info {
    display: flex;
    flex-direction: row;
}
