body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap-score {
    display: flex;
    gap: 10px;
}

#cookie {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.upgrades{
    display: flex;
    gap: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h3, h2{
    margin: 0;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    transition: scale 0.1s;
}

button:hover{
    scale: 1.1;
}

button:active{
    scale: 1;
}

.upgrades .info {
    display: flex;
    flex-direction: row;
}
